@model WebStore.Models.EmployeeView
@{
    ViewData["Title"] = $"Карточка сотрудника № {Model.EmployeeId}";
}


<div class="container">
    <h3>@ViewData["Title"]</h3>
    @if (!(Model is null))
    {
        <h3>Id:@Model.EmployeeId | @Model.FIO |</h3>
        <h5>Дата рождения: @Model.BirthDay.ToShortDateString()</h5>
        <dl>
            <dt>Email:</dt>
            <dd>@Model.Email</dd>
            <dt>Отдел. Дата трудоустройства:</dt>
            <dd>@Model.Department. @Model.DateOfEmployment</dd>
            <dt>Возраст:</dt>
            <dd>@Model.Age</dd>
        </dl>
    }
    else
    {
        <h3>Сотрудник не найден.</h3>
    }
    <br />
    <div>
        <h4><a asp-controller="Employees" asp-action="Index">Вернуться к общему списку сотрудников</a></h4>
    </div>
</div>
