@model IEnumerable<EmployeeView>

@{
    ViewData["Title"] = "Сотрудники";
}


<div class="container">
    <h3>@ViewData["Title"]</h3>
    <table class="table table-bordered table-striped" id="employees-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Фамилия Имя Отчество</th>
                <th>Возраст</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (EmployeeView item in Model)
            {
                <tr>
                    <td>@item.EmployeeId</td>
                    <td>@item.FIO</td>
                    <td>@item.Age</td>
                    <td><a asp-controller="Employees" asp-action="Details" asp-route-employeeId="@item.EmployeeId">Карточка</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Styles{
    <style>
        #employees-table {
            background-color: azure;
        }
    </style>
}

@section Scripts{
    <!--
        <script>
            alert("Скрипт!");
        </script>
        -->
}