@model WebStore.Models.EmployeeView
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    @if (!(Model is null))
    {
        <h3>Id:@Model.EmployeeId | @Model.FIO |</h3>
        <h5>Дата рождения: @Model.BirthDay.ToShortDateString()</h5>
        <dl>
            <dt>Email:</dt>
            <dd>@Model.Email</dd>
            <dt>Отдел. Дата трудоустройства:</dt>
            <dd>@Model.Department. @Model.DateOfEmployment</dd>
            <dt>Возраст:</dt>
            <dd>@Model.Age</dd>
        </dl>
    }
    else
    {
        <h3>Сотрудник не найден.</h3>
    }
    <br />
    <h4><a href="~/Home">Вернуться к общему списку сотрудников</a></h4>
</body>
</html>
